/* Chrome, Safari, Edge, Opera */
#nettweight::-webkit-outer-spin-button,
#nettweight::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#nettweight {
  -moz-appearance:textfield;
}

#nettweight, #batchnum {
  border-color: grey;
}

.formDiv {
  z-index: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: auto;
  border: black 1px solid;
  background-color: lightgray;
  border-radius: 1.5em;
}

#berryform {
  justify-items: center;
  display:grid;
}

.flexcontainer {
  flex-flow: row wrap;
  display: inline-flex;
}

.qualitycontrols li,
.identities li,
.quantities li
 {
  width: 10em;
}

input, select, button, textarea {
  border-radius: 0.2rem;
}

.qualitycontrols input,
.identities input,
.quantities input  {
  width: 10em;
  
}

.qualitycontrols option,
.identities option,
.quantities option {
  width: 8em;
}

.identities input,
.quantities input,
.identities select,
.quantities select
{
  border: 1.5px solid crimson;
}

.qualitycontrols input,
.qualitycontrols select,
.qccomments textarea,
.formbuttons *
{
  border: 1.5px solid grey;
}

ul {
  margin: auto;
  padding: inherit;
}

h3 {
  padding: 0.2rem;
  font-weight: bold;
  margin: auto;
  margin-top: 0.5rem;
}

.formbuttons {
  flex-wrap: nowrap;
  margin: 0.5em 0em 1em 0em;
}

.formbuttons input,button {
  margin: 0em 0.5em 0em 0.5em;
}

.qccomments {
  margin: 0.5rem 0em 0.5rem 0em;
  display: flex;
}

.qccomments label,
.qccomments textarea {
  flex-basis: 80%;
  margin-left: auto;
  margin-right: auto;
}

input:focus, select:focus, button:focus, textarea:focus {
  border-width: 2.5px;
}