td, th {
    border: 1pt solid darkgray;
    padding: 0.2em;
    background-color: white
}

table {
    margin: 0.5em 0 2em 0;
}

.homeflexcontainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.homeflexcontainer * {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    flex-basis: 100%;
    font-weight: bold;
    color: azure;
}

.fillertext {
    color: azure;
    font-size: 0.8em;
}